<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jurajpaulik.legonxt" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZoznamZariadeni"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Ovladanie"
            android:label="@string/title_activity_ovladanie"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Programovanie"
            android:label="@string/title_activity_programovanie"
            android:screenOrientation="landscape">
        </activity>
    </application>
</manifest>
